.product-detail {
    height: 500px;
    margin: 50px auto;
}

.product-detail .title {
    line-height: 50px;
    font-size: 24px;
    font-weight: 200px;
    color: #333;
}

.product-detail .title span {
    line-height: 50px;
    font-size: 16px;
    color: rgb(121, 120, 120);
}

.product-detail .left-box {
    width: 340px;
    height: 470px;
    background-color: #f1f1f1;
}

.product-detail .left-box h1 {
    color: rgb(156, 154, 154);
    text-align: center;
    margin-top: 20px;
}

.product-detail .right-box {
    width: 800px;
    height: 500px;
    border: 1px solid #ccc;
}

.product-detail .right-box h1 {
    font-size: 23px;
    margin-left: 20px;
}

.product-detail .right-box h4 {
    margin-left: 60px;
    font-size: 14px;
    margin-top: 10px;
    color: red;
}

.product-detail .right-box .price {
    height: 140px;
    width: 750px;
    margin-left: 20px;
    border: 1px solid #ffff;
    background-color: rgb(240, 240, 240);
    color: #ccc;
}

.product-detail .right-box .price p {
    margin-left: 50px;
    font-size: 18px;
}

.product-detail .right-box .price .content {
    line-height: 30px;
}

.product-detail .right-box .price .content .eval {
    width: 140px;
    line-height: 20px;
}

.product-detail .right-box .price .content p .ys {
    color: red;
}

.product-detail .right-box .price .content p .full {
    color: #fff;
    background-color: #ff6700;
    width: 70px;
    margin-left: 20px;
}

.product-detail .right-box .btn {
    margin-left: 70px;
    font-size: 18px;
    margin-top: 10px;
}

.product-detail .right-box .btn button {
    width: 70px;
    border: 2px solid #ccc;
}

.product-detail .right-box .btn button:hover {
    border: 2px solid #ff6700;
}

.product-detail .right-box input {
    width: 120px;
    text-align: center;
}

.product-detail .right-box .inp {
    margin-left: 70px;
    margin-top: 40px;
}

.product-detail .right-box .inp input {
    width: 30px;
}

.product-detail .right-box .inp .addshop {
    width: 170px;
    height: 40px;
    margin-left: 20px;
    background-color: #ff6700;
    border: 1px solid #ccc;
    font-size: 20px;
    color: #fff;
}

.product-detail .right-box .end {
    margin-top: 160px;
    color: rgb(156, 154, 154);
}

.magnifier-container {
    /* ！important正无穷 */
    height: 380px !important;
}


/* ===================================人气单品================================== */

.popular {
    margin-top: 100px;
    height: 300px;
}

.popular .popular-item {
    height: 40px;
    line-height: 40px;
    border-bottom: 6px solid #ff6700;
    text-indent: 10px;
}

.popular .popular-item h1 {
    font-weight: 150px;
    font-size: 20px;
    background-color: #ff6700;
    color: #fff;
}


/* 内容 */

.popular .popular-content ul {
    width: 1200px;
    height: 498px;
    margin: 0 auto;
}


/* 推荐列表li */

.popular .popular-content ul li {
    width: 230px;
    height: 247px;
    background-color: #fff;
    float: left;
    margin-left: 10px;
    margin-bottom: 2px;
}


/* 整体居中 */

.popular .popular-content ul li {
    text-align: center;
}


/* p标签样式 */

.popular .popular-content ul li p {
    text-align: left;
    text-indent: 10px;
    font-size: 14px;
}


/* 限时 */

.popular .popular-content ul li p.limit-time {
    text-align: left;
    text-indent: 0;
}

.popular .popular-content ul li p.text {
    color: red;
}


/* 价格 */

.popular .popular-content ul li p.price {
    color: red;
    font-size: 20px;
    margin-top: 5px;
    font-weight: 100;
}

.popular .popular-content ul li p.price span {
    color: #ccc !important;
    text-decoration: line-through;
    font-size: 12px;
}


/* ===========================================看了又看=========================================== */

.see {
    height: 1600px;
    margin-top: 20px;
}

.see .see-left {
    width: 240px;
    height: 1450px;
    border: 2px solid #ccc;
}

.see .see-left h4 {
    background-color: #ccc;
    font-size: 18px;
}

.see .see-left .content ul hr {
    width: 220px;
    height: 1px;
    background-color: rgb(228, 227, 227);
    margin-left: 10px;
    margin-right: 10px;
}


/* 内容 */

.see .see-left .content ul {
    margin: 10px auto;
}


/* 推荐列表li */

.see .see-left .content ul li {
    width: 200px;
    height: 160px;
    background-color: #fff;
    padding-bottom: 30px;
    padding-top: 10px;
}

.see .see-left .content ul li .image {
    margin-left: 90px;
    width: 60%;
    height: 70%;
}


/* p标签样式 */

.see .see-left .content ul li p {
    text-indent: 10px;
    font-size: 12px;
    margin-left: 40px;
}


/* 限时 */

.see .see-left .content ul li p.limit-time {
    text-indent: 10px;
}

.see .see-left .content ul li p.text {
    color: red;
}


/* 价格 */

.see .see-left .content ul li p.price {
    color: red;
    font-size: 16px;
    font-weight: 100;
}

.see .see-left .content ul li p.price span {
    color: #ccc !important;
    text-decoration: line-through;
    font-size: 12px;
}


/* 右侧内容 */

.see .see-right {
    width: 600px;
    height: 1600px;
    background-color: coral;
    margin-left: 25%;
}